@(pager: Pager[Child], parentId: Long, childForm: Form[Child])(implicit flash: play.api.mvc.Flash)
@import helper._

@main(pager.title)(flash) {

    @form(routes.Application.insertChild(pager.pageNum, parentId)) {

        <fieldset>

            @inputText(childForm("name"), '_label -> "Child name")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Create this Parent" class="btn btn-primary"> or
            <a href="@routes.Application.child(pager.pageNum)" class="btn">Cancel</a>
        </div>

    }

}
