@(pager: Pager[Parent])(implicit flash: play.api.mvc.Flash)

@main(pager.title)(flash) {

	@pageNation(pager, "parent")

    <a href="@routes.Application.createParent(pager.pageNum)">親レコード作成</a>>

    <table class="table table-bordered">
      <thead>
        <th>Parent Name</th>
      </thead>
      <tbody>
      @for(parent <- pager.dataList){
        <tr>
          <td>
              No.@parent.id&nbsp;@parent.name&nbsp;@parent.createDate&nbsp;@parent.updateDate<br />
          </td>
        </tr>
      }
      </tbody>
    </table>

	@pageNation(pager, "parent")
}
